.item {
  font-size: 20px;
  display: flex;
  /* gap: 20px; */
  margin-top: 20px;
}
.item:first-child{
  gap:20px
}
.item:nth-child(2) {
  gap: 14px
}
.item:nth-child(3) {
  gap: 19px
}
.item:last-child{
  gap:12px
}
.button {
  cursor: pointer;
  padding: 10px;
  background-color: gainsboro;
  border-radius: 10px;
}
.button:hover {
  border: 1px solid blue;
}
.button:focus {
  border: 1px solid blue;
}
